<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Mapper.UserMapper">
    <insert id="joinMatch">
        insert into matchjoin (matchid, sutdent_id)
        values (#{matchid},#{sutdent_id});
    </insert>
    <update id="LogoutUser">
        update User
        set token = null
        where token=#{token};
    </update>
    <delete id="outMatch">
        delete
        from matchjoin
        where matchid=#{matchid} and sutdent_id=#{sutdent_id};

    </delete>

    <select id="login" parameterType="com.User.User" resultType="java.lang.String">
        select id
        from User
        where psd = #{psd}
          and account = #{account}

    </select>
    <select id="getByAccount" parameterType="java.lang.String" resultType="com.User.User">
        select id
        from User
        where account = #{account}

    </select>
    <select id="get" parameterType="int" resultType="com.User.User">
        select *
        from User
        where id = #{id}
    </select>
    <select id="selectByAccount" resultType="java.lang.String"/>
    <select id="selectOne" parameterType="com.User.User" resultType="com.User.User">
        select id, account
        from User
        where psd = #{psd}
          and account = #{account}

    </select>
    <select id="selectTokenString" resultType="java.lang.Boolean">
        select count(token)
        from User where token=#{token};
    </select>
    <select id="getMatchid" resultType="com.User.joinMatch">
        select matchid,sutdent_id
        from matchjoin where sutdent_id=#{sutdent_id};

    </select>

    <update id="updateTokenUser" >
        update User
        set token = #{token}
        where id = #{id};

    </update>
    <update id="updatePsd">
        update User set psd=#{psd} where id=#{id} and token=#{token}
    </update>
</mapper>


